body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

    background: linear-gradient(135deg, #1b1f3b, #2d5baf);
}

.card{
    background:white;
    padding:35px;
    width:320px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,0.3);

    display:flex;
    flex-direction:column;
    gap:15px;
}

.card img{
    width:180px;
    margin:0 auto;
}

.card h2{
    text-align:center;
    margin-bottom:10px;
}

.card label{
    font-weight:bold;
}

.card input{
    width:100%;
    padding:12px;

    border-radius:10px;
    border:1px solid #ccc;

    font-size:14px;
}
.card input:focus{
    outline:none;
    border:1px solid #2d5baf;

    box-shadow:0 0 5px rgba(45,91,175,0.5);
}

.card button{
    width:100%;
    padding:12px;

    background:#2d5baf;
    color:white;

    border:none;
    border-radius:10px;

    font-size:16px;
    font-weight:bold;

    cursor:pointer;
}

.card button:hover{
    background:#1b1f3b;
}

.links{
    display:flex;
    justify-content:space-between;

    font-size:14px;
}